//imports
@import 'utils';

*::before, *::after, * {
    @include reset;
}

body {
    @include wh100;
}

.app {
    @include wh100;
    @include grid1;
}

@import 'Header';
@import 'Help';
@import 'Monitors';
@import 'Page';
@import 'Profile';
@import 'Settings';
@import 'Sidebar';
@import 'Tray';